<h1>Editing rangoedad</h1>

<% form_for(@rangoedad) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rangoedad %> |
<%= link_to 'Back', rangosedad_path %>