%h1 Editing rangoedad
- form_for(@rangoedad) do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %p
    = f.submit 'Update'
= link_to 'Show', @rangoedad
|
\#{link_to 'Back', rangosedad_path}
