<h1>Listing rangosedad</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @rangosedad.each do |rangoedad| %>
  <tr>
    <td><%=h rangoedad.nombre %></td>
    <td><%= link_to 'Show', rangoedad %></td>
    <td><%= link_to 'Edit', edit_rangoedad_path(rangoedad) %></td>
    <td><%= link_to 'Destroy', rangoedad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rangoedad', new_rangoedad_path %>