<div class="listing">
  <h2><%= Razontiporesolucion.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_razontiporesolucion_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => razonestiposresoluciones_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Razontiporesolucion.human_attribute_name(:nombre) %></th>
        <th><%= Razontiporesolucion.human_attribute_name(:tiporesolucion_id) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for razontiporesolucion in @razonestiposresoluciones  do%>
        <tr>
          <td>
	    <%= link_to razontiporesolucion.nombre, razontiporesolucion_path(razontiporesolucion) %>
          </td>
          <td>
            <%= razontiporesolucion.tiporesolucion.nombre %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @razonestiposresoluciones %>
  
</div>
