<%= render :partial => "breadcrums" %>
<div class="listing">
  <h2><%= Municipio.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_municipio_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => municipios_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Municipio.human_attribute_name(:nombre) %></th>
        <th><%= Municipio.human_attribute_name(:departamento_id) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for municipio in @municipios  do%>
        <tr>
          <td>
	    <%= link_to municipio.nombre, municipio_path(municipio) %>
          </td>
          <td>
            <%= municipio.departamento.nombre %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @municipios %>
  
</div>
