- @forview = "NEW"
= render :partial => "breadcrums"
.mantform
  %h2
    Nuevo #{Municipio.human_name}
  - semantic_form_for @municipio do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(municipios_path)
