- form.inputs do
  = form.input :numero, :input_html => {:size => 60}
  = form.input :fecha_presentacion, :as => :string, :input_html => {:size => 20}
  = form.input :fecha_notificacion, :as => :string, :input_html => {:size => 20}
  = form.input :fecha_resolucion, :as => :string, :input_html => {:size => 20}
  = form.input :sentidoresolucion, :include_blank => false, :label => "Sentido Resolución"
  = form.input :descripcion
