- @forview = "INDEX"
= render :partial => "breadcrumbs"

%h1.alt= "Recursos revisión"

= render :partial => "solicitudes/solicitud"

%fieldset
  %legend
    = image_tag('refresh22.png')
    = "Recursos revisión"

  .listing
    %div{:id => "options"}
      = button_new(new_solicitud_recursorevision_path(@solicitud))
      = button_cancel(solicitud_path(@solicitud),'Regresar a solicitud')
    %table.minimalist-b
      %thead
        %tr 
          %th{:width => "20%"}= Recursorevision.human_attribute_name(:numero)
          %th= Recursorevision.human_attribute_name(:fecha_presentacion)
          %th= Sentidoresolucion.human_name
          %th= Recursorevision.human_attribute_name(:descripcion)
      %tbody
        - for recursorevision in @recursosrevision
          %tr
            %td= link_to recursorevision.numero, solicitud_recursorevision_path(@solicitud,recursorevision)
            %td= l(recursorevision.fecha_presentacion)
            %td= recursorevision.sentidoresolucion.nombre
            %td= recursorevision.descripcion

