<div class="show">
  <h2><%= Tipomensaje.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_tipomensaje_path) %>
    <%= button_edit(edit_tipomensaje_path(@tipomensaje)) %>
    <%= button_delete(tipomensaje_path(@tipomensaje)) %>
    <%= button_cancel(tipomensajes_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Tipomensaje.human_attribute_name(:nombre) %></th>
        <td><%= @tipomensaje.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
