<h1>Editing clasificacion</h1>

<% form_for(@clasificacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @clasificacion %> |
<%= link_to 'Back', clasificaciones_path %>