%h1 Editing clasificacion
- form_for(@clasificacion) do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %p
    = f.submit 'Update'
= link_to 'Show', @clasificacion
|
\#{link_to 'Back', clasificaciones_path}
