<h1>Listing clasificaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @clasificaciones.each do |clasificacion| %>
  <tr>
    <td><%=h clasificacion.nombre %></td>
    <td><%= link_to 'Show', clasificacion %></td>
    <td><%= link_to 'Edit', edit_clasificacion_path(clasificacion) %></td>
    <td><%= link_to 'Destroy', clasificacion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clasificacion', new_clasificacion_path %>