<%= render :partial => "breadcrums" %>
<div class="listing">
  <h2><%= Departamento.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_departamento_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => departamentos_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Departamento.human_attribute_name(:nombre) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for departamento in @departamentos  do%>
        <tr>
          <td>
	    <%= link_to departamento.nombre, departamento_path(departamento) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @departamentos %>
  
</div>

