<% @forview = "NEW" %>
<%= render :partial => "breadcrums" %>
<div class="mantform">
  <h2>Nuevo <%= Departamento.human_name %></h2>
  
  <fieldset>
  <% semantic_form_for @departamento do |form| %>
    <%= form.semantic_errors %>
    <%= render :partial => 'form', :locals => {:form => form} %>    
    <%= buttons_create(departamentos_path) %>
  <% end %>
  </fieldset>
</div>
