<% @forview = "SHOW" %>
<%= render :partial=>"breadcrums" %>

<div class="show">
  <h2><%= Departamento.human_name %></h2>

  <div id="options">
    <%= button_new(new_departamento_path) %>
    <%= button_edit(edit_departamento_path(@departamento)) %>
    <%= button_delete(departamento_path(@departamento)) %>
    <%= button_cancel(departamentos_path) %>
    <br />
  </div>


 <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Departamento.human_attribute_name(:nombre) %></th>
        <td><%= @departamento.nombre %></td>
      </tr>
      <tr>
        <th><%= label :abreviatura, Departamento.human_attribute_name(:abreviatura) %></th>
        <td><%= @departamento.abreviatura %></td>
      </tr>
    </table>     
  </div>
  
</div>
