%h1.alt Generar Reporte PDH
.notice Seleccione el rango de fechas de ingreso de las solicitudes

.show
  .box
    - form_tag reporte_solicitudes_csv_url, :method=>:get do
      %h3 Rango de Fecha
      %p
        = label_tag 'ano', "Desde: "
        = select_date Date.today.beginning_of_year, {:order => [:day, :month, :year]}, {:id => "desde", :name => "desde[]"}
      %p
        = label_tag 'ano', "Hasta: "
        = select_date Date.today, {:order => [:day, :month, :year]}, {:id => "hasta", :name => "hasta[]"}
      %p
        = submit_tag 'Generar Reporte >'
