- form.inputs do
  = form.input :codigo
  = form.input :nombre
  = form.input :abreviatura
  = form.input :parent_id, :as => :select, :collection => @padres, :include_blank => false unless @institucion.root?
  = form.input :tipoinstitucion_id, :as => :select , :collection => Institucion::TIPOS_OPTIONS, :include_blank => false
  = form.input :direccion
  = form.input :telefono
  = form.input :activa
  = form.input :usasolicitudesprivadas
  = form.input :webpage
  = form.input :logo, :as => :file
