<%= render :partial => "breadcrums" %>
<div class="listing">
  <h2><%= Institucion.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_institucion_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => instituciones_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Institucion.human_attribute_name(:codigo) %></th>
        <th><%= Institucion.human_attribute_name(:nombre) %></th>
        <th><%= Institucion.human_attribute_name(:parent_id) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for institucion in @instituciones  do%>
        <tr>
          <td><%= institucion.codigo %></td>
          <td>
	    <%= link_to institucion.nombre, institucion_path(institucion) %>
          </td>
          <td>
            <%= institucion.parent.nil? ? '' : institucion.parent.nombre %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @instituciones %>
  
</div>
