- @forview = "NEW"
= render :partial => "breadcrums"
.mantform
  %h2
    Nueva #{Institucion.human_name}
  - semantic_form_for @institucion, :html => {:multipart => true} do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(instituciones_path)
