- @forview = "SHOW"
= render :partial=>"breadcrums"
.show
  %h2= Institucion.human_name
  #options
    = button_new(new_institucion_path)
    = button_edit(edit_institucion_path(@institucion))
    = button_delete(institucion_path(@institucion))
    = button_cancel(instituciones_path)
    %br/
  .box
    %table
      %colgroup.show-table-header
      %colgroup.show-table-data
      %tr
        %th= label :codigo, Institucion.human_attribute_name(:codigo)
        %td= @institucion.codigo
      %tr
        %th= label :unidad_ejecutora, Institucion.human_attribute_name(:unidad_ejecutora)
        %td= @institucion.unidad_ejecutora
      %tr
        %th= label :entidad, Institucion.human_attribute_name(:entidad)
        %td= @institucion.entidad
      %tr
        %th= label :nombre, Institucion.human_attribute_name(:nombre)
        %td= @institucion.nombre
      %tr
        %th= label :abreviatura, Institucion.human_attribute_name(:abreviatura)
        %td= @institucion.abreviatura
      %tr
        %th= label :parent_id, Institucion.human_attribute_name(:parent_id)
        %td= @institucion.parent.nombre unless @institucion.root? or @institucion.parent.nil?
      %tr
        %th= label :direccion, Institucion.human_attribute_name(:direccion)
        %td= @institucion.direccion
      %tr
        %th= label :telefono, Institucion.human_attribute_name(:telefono)
        %td= @institucion.telefono
      %tr
        %th= label :webpage, Institucion.human_attribute_name(:webpage)
        %td= @institucion.webpage
      %tr
        %th= label :tipoinstitucion_id, Institucion.human_attribute_name(:tipoinstitucion_id)
        %td= @institucion.tipo_nombre
      %tr
        %th= label :usasolicitudesprivadas, Institucion.human_attribute_name(:usasolicitudesprivadas)
        %td= si_no(@institucion.usasolicitudesprivadas)
      %tr
        %th= label :logo, Institucion.human_attribute_name(:logo)
        %td= image_tag @institucion.logo.url(:medium), :alt => 'Logo Institucion'
