<% @forview = "SHOW" %>
<%= render :partial=>"breadcrums" %>
<div class="show">
  <h2><%= Institucion.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_institucion_path) %>
    <%= button_edit(edit_institucion_path(@institucion)) %>
    <%= button_delete(institucion_path(@institucion)) %>
    <%= button_cancel(instituciones_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Institucion.human_attribute_name(:nombre) %></th>
        <td><%= @institucion.nombre %></td>
      </tr>
      <tr>
        <th><%= label :parent_id, Institucion.human_attribute_name(:parent_id) %></th>
        <td><%= @institucion.parent.nombre unless @institucion.root? or @institucion.parent.nil?%></td>
      </tr>
      <tr>
        <th><%= label :tipoinstitucion_id, Institucion.human_attribute_name(:tipoinstitucion_id) %></th>
        <td><%= @institucion.tipo_nombre %></td>
      </tr>
      <tr>
        <th><%= label :usasolicitudesprivadas, Institucion.human_attribute_name(:usasolicitudesprivadas) %></th>
        <td><%= si_no(@institucion.usasolicitudesprivadas) %></td>
      </tr>
      <tr>
        <th><%= label :logo, Institucion.human_attribute_name(:logo) %></th>
        <td><%= image_tag @institucion.logo.url(:medium), :alt => 'Logo Institucion' %></td>
      </tr>
    </table>     
  </div>
  
</div>
