%h1 Editing sentidoresolucion
- form_for(@sentidoresolucion) do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %p
    = f.submit 'Update'
= link_to 'Show', @sentidoresolucion
|
\#{link_to 'Back', sentidosresolucion_path}
