%h1 New sentidoresolucion
- form_for(@sentidoresolucion) do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %p
    = f.submit 'Create'
= link_to 'Back', sentidosresolucion_path
