- form.inputs do
  = form.input :nombre
  = form.input :actualiza_fecha
  = form.input :actualiza_fecha_notificacion
  = form.input :estado
  = form.input :positiva, :hint => "Para uso de reporte PDH"
  = form.input :aliaspdh, :hint => "Para uso de reporte PDH"
