<div class="listing">
  <h2><%= Tiporesolucion.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_tiporesolucion_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => tiposresoluciones_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Tiporesolucion.human_attribute_name(:nombre) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for tiporesolucion in @tiposresoluciones  do%>
        <tr>
          <td>
	    <%= link_to tiporesolucion.nombre, tiporesolucion_path(tiporesolucion) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @tiposresoluciones %>
  
</div>
