<div class="show">
  <h2><%= Tiporesolucion.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_tiporesolucion_path) %>
    <%= button_edit(edit_tiporesolucion_path(@tiporesolucion)) %>
    <%= button_delete(tiporesolucion_path(@tiporesolucion)) %>
    <%= button_cancel(tiposresoluciones_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Tiporesolucion.human_attribute_name(:nombre) %></th>
        <td><%= @tiporesolucion.nombre %></td>
      </tr>
      <tr>
        <th><%= label :actualiza_fecha, Tiporesolucion.human_attribute_name(:actualiza_fecha) %></th>
        <td><%= @tiporesolucion.actualiza_fecha %></td>
      </tr>
      <tr>
        <th><%= label :estado_id, Tiporesolucion.human_attribute_name(:estado_id) %></th>
        <td><%= @tiporesolucion.estado.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
