<h1>Listing motivosnegativa</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @motivosnegativa.each do |motivonegativa| %>
  <tr>
    <td><%=h motivonegativa.nombre %></td>
    <td><%= link_to 'Show', motivonegativa %></td>
    <td><%= link_to 'Edit', edit_motivonegativa_path(motivonegativa) %></td>
    <td><%= link_to 'Destroy', motivonegativa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New motivonegativa', new_motivonegativa_path %>