<div class="show">
  <h2><%= Profesion.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_profesion_path) %>
    <%= button_edit(edit_profesion_path(@profesion)) %>
    <%= button_delete(profesion_path(@profesion)) %>
    <%= button_cancel(profesiones_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Profesion.human_attribute_name(:nombre) %></th>
        <td><%= @profesion.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
