<div id="header">
  <div id="logo"></div>
  <div id="options-wraper">
    <div id="user">
      <%= usuario_actual.nombre %>, <%= usuario_actual.cargo %>
    </div>    
    <div id="menu">
      <div id="b5"><%= link_to '', logout_url, :title => "Cerrar Sesion" %></div>
      <div id="b4"><a href="#" target="_self"></a></div>
      <div id="b3"><%= link_to '', buscar_url, :title => "Busqueda de Solicitudes" %></div>
      <div id="b2"><%= link_to '', perfil_url, :title => "Administrar Perfil" %></div>
      <div id="b1"><%= link_to '', main_index_url, :title => "Pagina de Inicio" %></div>
    </div>  
  </div>

</div>
