#navigation
  #my_menu.sdmenu
    %div
      %span LAIP
      - if nivel_seguridad(usuario_actual,'personaludip')
        = link_to "Nueva Solicitud", new_solicitud_path
      = link_to "Información Solicitudes", solicitudes_path
      = link_to "Historico Asignaciones", actividades_path
      = link_to "Busqueda Solicitudes", buscar_path
    = render :partial => "shared/navigation_documentos" 
    %div
      %span Reportes
      = link_to "Solicitudes (CSV)", reporte_solicitudes_csv_url, :popup => true
    %div
      %span Administración
      - if nivel_seguridad(usuario_actual,'superadmin')
        = link_to( 'Departamentos', departamentos_path, :title => 'Departamentos Republica' )
        = link_to( 'Municipios', municipios_path, :title => 'Municipios Republica')
        = link_to "Idiomas", idiomas_path, :title => "Idiomas solicitantes"
        = link_to( 'Instituciones', instituciones_path, :title => 'Instituciones Estatales')
        = link_to( "Fuentes Solicitudes", fuentes_path )
        = link_to( "Vias", vias_path)
        = link_to( "Estados", estados_path)
        = link_to( 'Roles Seguridad', roles_path, :title => 'Administracion de Roles')
        = link_to( 'Tipos de Resoluciones', tiposresoluciones_path, :title => 'Administracion de Tipos de Resoluciones')
        = link_to( 'Razones Resoluciones', razonestiposresoluciones_path, :title => 'Administracion de Razones de Resoluciones')
        = link_to "Clasificaciones Documentales", documentoclasificaciones_path, :title=>"Administracion Clasificaciones Documentales"
        = link_to "Categorías Documentales", documentocategorias_path, :title=>"Administracion Categorías Documentales"
        = link_to "Archivos", archivos_path, :title => "Administración de Archivos documentales"
        = link_to "Importar Solicitudes", importar_index_path, :title => "Importar solicitudes en formato CSV"
      - if nivel_seguridad(usuario_actual,'administrador')
        = link_to( 'Usuarios', usuarios_path, :title => 'Administracion de Usuarios')
        = link_to( "Profesiones", profesiones_path, :title => "Profesiones de solicitantes")
/ end - navigation
