#navigation
  %h3= link_to "LAIP", "#"
  %div
    - if nivel_seguridad(usuario_actual,'personaludip')
      %p= link_to "Nueva Solicitud", new_solicitud_path
    %p= link_to "Información Solicitudes", solicitudes_path
    %p= link_to "Histórico Asignaciones", actividades_path
    %p= link_to "Búsqueda Solicitudes", buscar_path
  %h3= link_to "Reportes", "#"
  %div
    %p= link_to "Generar Reporte PDH", reporte_solicitudes_csv_url, :title => "Reporte en formato de la PDH en formato texto CSV."
    %p= link_to "Exportar Solicitudes", reporte_solicitudes_xml_url(:format => 'xml'), :confirm => "Este proceso puede tomar algunos minutos en completar. ¿Desea continuar?", :title => "Generar archivo de respaldo de la base de datos en XML"
    - if nivel_seguridad(usuario_actual, 'superadmin')
      %p= link_to "Instituciones activas", instituciones_activas_reportes_url, :title => "Instituciones activas"
  - if nivel_seguridad(usuario_actual,'administrador')
    %h3= link_to "Administración", "#"
    %div
      %p= link_to( 'Usuarios', usuarios_path, :title => 'Administracion de Usuarios')
      - if nivel_seguridad(usuario_actual, 'superadmin')
        %p= link_to( 'Departamentos', departamentos_path, :title => 'Departamentos Republica' )
        %p= link_to( 'Municipios', municipios_path, :title => 'Municipios Republica')
        %p= link_to "Idiomas", idiomas_path, :title => "Idiomas solicitantes"
        %p= link_to( 'Instituciones', instituciones_path, :title => 'Instituciones Estatales')
        %p= link_to( "Fuentes Solicitudes", fuentes_path )
        %p= link_to( "Vias", vias_path)
        %p= link_to( "Estados", estados_path)
        %p= link_to( 'Roles Seguridad', roles_path, :title => 'Administracion de Roles')
        %p= link_to( 'Tipos de Resoluciones', tiposresoluciones_path, :title => 'Administracion de Tipos de Resoluciones')
        %p= link_to( 'Razones Resoluciones', razonestiposresoluciones_path, :title => 'Administracion de Razones de Resoluciones')
        %p= link_to "Clasificaciones Documentales", documentoclasificaciones_path, :title=>"Administracion Clasificaciones Documentales"
        %p= link_to "Categorías Documentales", documentocategorias_path, :title=>"Administracion Categorías Documentales"
        %p= link_to "Archivos", archivos_path, :title => "Administración de Archivos documentales"
        %p= link_to "Importar Solicitudes", importar_index_path, :title => "Importar solicitudes en formato CSV"
        %p= link_to( "Profesiones", profesiones_path, :title => "Profesiones de solicitantes")
        %p= link_to "Feriados", feriados_path, :title => "Feriados Nacionales y Locales"
/ end - navigation
