#navigation
  #my_menu.sdmenu
    %div
      %span LAIP
      - if nivel_seguridad(usuario_actual,'personaludip')
        = link_to "Nueva Solicitud", new_solicitud_path
      = link_to "Información Solicitudes", solicitudes_path
      = link_to "Historico Asignaciones", actividades_path
      = link_to "Busqueda Solicitudes", buscar_path
    %div
      %span Mesajería
      = link_to "Nuevo Documento", new_documento_path, :title => "Crear nuevo documento."
      = link_to "Mis Documentos", documentos_path, :title => "Listar documentos que he creado."
      = link_to "Nuevo Mensaje", '#', :title => "Crear nuevo mensaje"
      = link_to "Bandeja Entrada", '#', :title=>"Ver mensajes recibidos"
      = link_to "Mensajes Enviados", '#', :title=>"Ver mensajes enviados"
      = link_to "Borradores", '#', :title=>"Ver mensajes pendientes de enviar."
      = link_to "Busqueda Mensajes", '#', :title=>"Buscar mensajes y documentos."
    .collapsed
      %span Archivo
      %a{:href => "#"} Mis Archivos
      %a{:href => "#"} Historico
      %a{:href => "#"} Trasladar Documento
    %div
      %span Procesos
      %a{:href => "#"} Current or not
      %a{:href => "#"} Current or not
      %a{:href => "#"} Current or not
      %a{:href => "#"} Current or not
    %div
      %span Reportes
      = link_to "Solicitudes (CSV)", reporte_solicitudes_csv_url, :popup => true
    %div
      %span Administración
      - if nivel_seguridad(usuario_actual,'superadmin')
        = link_to( 'Departamentos', departamentos_path, :title => 'Departamentos Republica' )
        = link_to( 'Municipios', municipios_path, :title => 'Municipios Republica')
        = link_to( 'Instituciones', instituciones_path, :title => 'Instituciones Estatales')
        = link_to( "Fuentes Solicitudes", fuentes_path )
        = link_to( "Vias", vias_path)
        = link_to( "Estados", estados_path)
        = link_to( 'Roles Seguridad', roles_path, :title => 'Administracion de Roles')
        = link_to( 'Tipos de Resoluciones', tiposresoluciones_path, :title => 'Administracion de Tipos de Resoluciones')
        = link_to( 'Razones Resoluciones', razonestiposresoluciones_path, :title => 'Administracion de Razones de Resoluciones')
        = link_to "Clasificaciones Documentales", documentoclasificaciones_path, :title=>"Administracion Clasificaciones Documentales"
        = link_to "Categorías Documentales", documentocategorias_path, :title=>"Administracion Categorías Documentales"
        = link_to "Importar Solicitudes", importar_index_path, :title => "Importar solicitudes en formato CSV"
      - if nivel_seguridad(usuario_actual,'administrador')
        = link_to( 'Usuarios', usuarios_path, :title => 'Administracion de Usuarios')
        = link_to( "Profesiones", profesiones_path, :title => "Profesiones de solicitantes")
/ end - navigation
