- content_tag_for(:tr, seguimiento) do
  - actividad = seguimiento.actividad
  - solicitud = actividad.solicitud
  - institucion = @institucion
  %td
    = image_tag("edit16.png")
    = link_to t("data.edit"),  edit_seguimiento_path(seguimiento.id), :method => :get, :remote => true
  %td
    = link_to t("data.delete"), seguimiento_path(seguimiento), :confirm => t("data.rusure"), :method => :delete, :remote => true
  %td= l(seguimiento.fecha_creacion)
  %td= seguimiento.textoseguimiento
