<p>
  <b>Actividad:</b>
  <%=h @seguimiento.actividad_id %>
</p>

<p>
  <b>Institucion:</b>
  <%=h @seguimiento.institucion_id %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @seguimiento.usuario_id %>
</p>

<p>
  <b>Fecha creacion:</b>
  <%=h @seguimiento.fecha_creacion %>
</p>

<p>
  <b>Textoseguimiento:</b>
  <%=h @seguimiento.textoseguimiento %>
</p>


<%= link_to 'Edit', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Back', seguimientos_path %>