<table id="minimalist-a">
  <thead>
    <th class="col"><%= t("actividades.label_numero") %></th>
    <th class="col"><%= t("actividades.label_usuario_id") %></th>
    <th class="col"><%= t("actividades.label_cargo") %></th>
    <th class="col"><%= t("actividades.label_institucion") %></th>
    <th class="col"><%= t("actividades.label_fecha_asignacion") %></th>
    <th class="col"><%= t("actividades.label_estado") %></th>
    <th class="col" colspan="2">&nbsp;</th>
  </thead>
  <tbody>
    <% for actividad in @solicitud.actividades do %>
      <tr>
        <td><%= actividad.id %></td>
        <td><%= actividad.usuario.nombre %></td>
        <td><%= actividad.usuario.cargo %></td>
        <td><%= actividad.usuario.institucion.abreviatura %></td>
        <td><%= l(actividad.fecha_asignacion) %></td>
        <td><%= actividad.estado.nombre %></td>
        <td><%= link_to_if nivel_seguridad(usuario_actual,'encargadoudip'), 'Remover', institucion_solicitud_actividad_path(@institucion, @solicitud, actividad), :confirm => '¿Está seguro de remover asignación?', :method => :delete %></td>
        <td><%= link_to_remote 'Ver', :url => institucion_solicitud_actividad_path(@institucion, @solicitud, actividad), :method => :get, :title => "Mostrar informacion de Asignacion" %></td>
      </tr>
    <% end %>
  </tbody>    
</table>
<div id="showactividad" class="popup" style="display: none; height: 400px;"></div>

<hr />
