<h3><%= image_tag("clock22.png") %>Asingadas Pendientes Entrega a Ciudadano</h3>

<% if @asignadas.size > 0 %>
<table class='minimalist-b' width="100%">
  <thead>
    <th class="col"><%= t("solicitudes.label_codigo") %></th>
    <th class="col"><%= t("solicitudes.label_fecha_creacion") %></th>
    <th class="col"><%= t("solicitudes.label_institucion_id") %></th>
    <th class="col"><%= t("solicitudes.label_estado_id") %></th>
    <th class="col"><%= t("solicitudes.label_dias_restantes") %></th>
    <th class="col"><%= t("solicitudes.label_avance") %></th>
    <th scope="col"><%= t("solicitudes.label_accion") %></th>
  </thead>
  <tbody>
    <% for solicitud in @asignadas do %>
    <tr <%= class_estado_asignacion(solicitud) %>>
      <td><%= link_to solicitud.codigo, institucion_solicitud_path(solicitud.institucion_id, solicitud) %></td>
      <td><%= l(solicitud.fecha_creacion) %></td>
      <td><%= solicitud.institucion.nombre %></td>
      <td>
        <%= solicitud.estado.nombre %>
        <%= "[COMPLETA]" if solicitud.terminada? %>
      </td>
      <td><%= solicitud.dias_restantes %></td>
      <td><%= solicitud.avance %></td>
      <td><%= image_tag("refresh16.png") %> <%= link_to_if( solicitud.terminada?, t("solicitudes.label_entregar"), marcar_entregada_solicitud_path(solicitud), :method=>'put', :confirm => t("data.rusure")) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <td colspan="10">
      *Solicitudes asignadas a enlaces pendientes de ser entregadas a solicitantes.
    </td>
  </tfoot>
</table>
<% else %>
 <div class="success">
        No hay solicitudes pendientes de entregar.
      </div>
<% end %>
<br />
