/ Descripcion: Barra de opciones para solicitud
/ Llamada desde: /views/solicitudes/show.html.erb
.options.clear2
  = solicitud_boton_regresar
  = solicitud_boton_imprimir(@solicitud, @es_pertinente_a_usuario)

  / limita editar y eliminar la solicitud al Encargado de la UDIP

  / segun https://www.pivotaltracker.com/story/show/9190827
  / para editar solo es necesario ser miembro de UDIP
  = solicitud_boton_editar(@solicitud, @es_pertinente_a_usuario, @usuario_es_udip)
  = solicitud_boton_eliminar(@solicitud, @es_pertinente_a_usuario,  @usuario_es_supervisor)

  / acciones que puede realizarse si la solicitud no ha sido entregada al ciudadano

  / la solicitud solo puede ser asiganda por un miembreo de la UDIP
  = solicitud_boton_asignar_enlace(@solicitud, @es_pertinente_a_usuario, @usuario_es_udip)
  = solicitud_boton_adjuntar_documento(@solicitud, @es_pertinente_a_usuario, true)

  / solo el encargado de la UDIP puede emitir resoluciones y solamente si estan al 100%
  = solicitud_boton_emitir_resolucion(@solicitud, @es_pertinente_a_usuario,  @usuario_es_udip)

  / solo se puede emitir recurso de revision si ya fue entregada al ciudadano
  = solicitud_boton_recurso_revision(@solicitud, @es_pertinente_a_usuario, @usuario_es_udip)

  / opcion de seguimientos
  = solicitud_boton_seguimientos(@solicitud, @es_pertinente_a_usuario, @usuario_es_supervisor)

%br/
%br/
%br/
