<table id="minimalist-a">
  <thead>
    <th><%= Recursorevision.human_attribute_name(:numero) %></th>
    <th><%= Recursorevision.human_attribute_name(:fecha_presentacion) %></th>
    <th><%= Sentidoresolucion.human_name %></th>
  </thead>
  <tbody>
    <% for recursorevision in @solicitud.recursosrevision %>
    <tr>
      <td><%= recursorevision.numero %></td>
      <td><%= l(recursorevision.fecha_presentacion) %></td>
      <td><%= recursorevision.sentidoresolucion.nombre %></td>
    </tr>
    <% end %>
  </tbody>    
</table>
<div id="showrecursorevision" class="popup" style="display: none; height: 400px;"></div>

<hr />
