<table id="minimalist-a">
  <thead>
    <th><%= Resolucion.human_attribute_name(:numero) %></th>
    <th><%= Resolucion.human_attribute_name(:created_at) %></th>
    <th><%= Resolucion.human_attribute_name(:tiporesolucion_id) %></th>
    <th><%= Resolucion.human_attribute_name(:tiporazonresolucion_id) %></th>
  </thead>
  <tbody>
    <% for resolucion in @solicitud.resoluciones do %>
    <tr>
      <td><%= resolucion.numero %></td>
      <td><%= l(resolucion.created_at.to_date) %></td>
      <td><%= resolucion.tiporesolucion.nombre %></td>
      <td><%= resolucion.razontiporesolucion.nombre %></td>
    </tr>
    <% end %>
  </tbody>    
</table>
<div id="showresolucion" class="popup" style="display: none; height: 400px;"></div>

<hr />
