%table#minimalist-a
  %thead
    %th{:width => "20%"}= Resolucion.human_attribute_name(:numero)
    %th{:width => "10%"}= Resolucion.human_attribute_name(:fecha)
    %th{:width => "10%"}= Resolucion.human_attribute_name(:tiporesolucion_id)
    %th{:width => "15%"}= Resolucion.human_attribute_name(:tiporazonresolucion_id)
    %th= Resolucion.human_attribute_name(:descripcion)
  %tbody
    - for resolucion in @solicitud.resoluciones do
      %tr
        %td= resolucion.numero
        %td= l(resolucion.fecha)
        %td= resolucion.tiporesolucion.nombre
        %td= resolucion.razontiporesolucion.nombre
        %td= resolucion.descripcion
#showresolucion.popup{:style => "display: none; height: 400px;"}
%hr/
