<% content_for :head do %>
  <%= javascript_include_tag 'filtro_solicitudes', 'jquery.ui.datepicker-es.js' %>
<% end %>

<div class="listing">
  <h2><%= Solicitud.human_name.pluralize %></h2>
  
  <div id="options">
    <%= link_to image_tag('filesearch16.png')+' Filtrar', '#', :class => "button filtro" %>
    <div id="findbox">
      <% form_tag buscar_path, :method=>:get do %>
        <%= image_tag("find16.png") %>
        <%= text_field_tag 'search', '', :id=>'search' %>
        <%= submit_tag 'Buscar' %>
      <% end -%>
    </div>  
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Solicitud.human_attribute_name(:codigo) %></th>
        <th><%= Solicitud.human_attribute_name(:fecha_creacion) %></th>
        <th><%= Solicitud.human_attribute_name(:institucion) %></th>
        <th><%= Solicitud.human_attribute_name(:solicitante_nombre) %></th>
        <th><%= Solicitud.human_attribute_name(:estado) %></th>
        <th><%= Solicitud.human_attribute_name(:dias) %></th>
        <th><%= Solicitud.human_attribute_name(:avance) %></th>
        <th><%= Solicitud.human_attribute_name(:textosolicitud) %></th>
      </tr>
    </thead> 
    <tbody>
      <% if @solicitudes %>
        <% for solicitud in @solicitudes  do%>
          <tr>
            <td>
	      <%= link_to solicitud.codigo, solicitud_path(solicitud) %>
            </td>
            <td>
              <%= l(solicitud.fecha_creacion) %>
            </td>
            <td><%= solicitud.institucion.abreviatura %></td>
            <td>
              <%= solicitud.solicitante_nombre %>
            </td>
            <td><%= solicitud.estado_actual %></td>
            <td><%= solicitud.dias_restantes %></td>
            <td><%= solicitud.avance %></td>
            <td><%= solicitud.extracto(usuario_actual) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @solicitudes unless @solicitudes.nil?%>
  
</div>
<div id="filtro" class="popup" style="display: none; height: 450px;">
  <%= render :partial => 'filtro'  %>
</div>
