<% content_for :head do %>
  <%= javascript_include_tag 'solicitudes.js' %>
<% end %>
<%= render :partial => "breadcrums" %>
<h1 class="alt">Solicitudes y Tareas</h1>

<div class="solicitudes-y-tareas">
  <div id="solicitudes-y-tareas-tabs">
    <ul>
      <% if nivel_seguridad(usuario_actual,'personaludip') %>
        <li><%= link_to "No Asignadas (#{@noasignadas.size})", "#no-asignadas" %></li>
        <li><%= link_to "En Tramite (#{@entramite.size})", "#en-tramite" %></li>
        <li><%= link_to "Pend. Resolución (#{@pendresolucion.size})", "#pendientes-resolucion" %></li>
        <li><%= link_to "Terminadas (#{@terminadas.size})", "#terminadas" %></li>
      <% end %>
      <li><%= link_to "Tareas Asignadas (#{@asignaciones.size})", "#tareas" %></li>
    </ul>

  <% if nivel_seguridad(usuario_actual,'personaludip') %>
    <%= render :partial => 'solicitudes/noasignadas' %>
    <%= render :partial => 'solicitudes/entramite' %>
    <%= render :partial => 'solicitudes/pendientesresolucion' %>
    <%= render :partial => 'solicitudes/terminadas' %>
  <% end %>

  <%= render :partial => 'actividades/mis_actividades'  %>  
  </div>
</div>












