- content_for :head do
  = javascript_include_tag 'jquery-blockui.js','solicitudes.js', 'seguimientos.js'
= render :partial => "breadcrums"
%h1.alt Solicitudes y Tareas
.solicitudes-y-tareas
  #solicitudes-y-tareas-tabs
    %ul
      %li= link_to "Tareas Asignadas (#{@asignaciones.size})", "#tareas", :title => "Tareas que debo de completar."
      - if @usuario_es_udip
        %li= link_to "No Asignadas (#{@noasignadas.size})", "#no-asignadas", :title => "Nuevas solicitudes que debo asignar a enlaces."
        %li= link_to "En Tramite (#{@entramite.size})", "#en-tramite", :title => "Solicitudes ya asignadas que enlaces deben completar."
        %li= link_to "Pend. Resolución (#{@pendresolucion.size})", "#pendientes-resolucion", :title => "Asignaciones completadas por enlaces pendientes de emitir resolución."
        %li= link_to "Terminadas (#{@terminadas.size})", "#terminadas", :title => "Asignaciones listas para entregar a ciudadano."
        %li= link_to "Entregadas (#{@entregadas_cnt})", "#entregadas", :title => "Asignaciones entregadas a ciudadano."
        %li= link_to "Anuladas (#{@anuladas.size})", "#anuladas", :title => "Asignaciones anuladas."
    = render :partial => 'actividades/mis_actividades'
    - if @usuario_es_udip
      = render :partial => 'solicitudes/noasignadas'
      = render :partial => 'solicitudes/entramite'
      = render :partial => 'solicitudes/pendientesresolucion'
      = render :partial => 'solicitudes/terminadas'
      = render :partial => 'solicitudes/entregadas'
      = render :partial => 'solicitudes/anuladas'
#newseguimiento
