<% content_for :head do %>
  <%= javascript_include_tag 'jquery-blockui.js' %>
<% end %>
<% @forview = "SHOW" %>
<%= render :partial=>"breadcrums" %>
<h1 class="alt"><%= Solicitud.human_name %></h1>
<fieldset>
  <legend><%= image_tag("infoabout22.png") %> Visualizar <%= Solicitud.human_name %> </legend>

  <%= render :partial => 'opciones' %>

  <div id="estado_solicitud" class="notice span-24 last">
    <strong> Estado de la solicitud: </strong> <span id="estado_solicitud_nombre"><%= @solicitud.estado_actual %></span>
  </div>
  
  <table>
    <tr>
      <th width="20%"><%= label :codigo, Solicitud.human_attribute_name(:codigo) %></th>
      <td width="80%"><%= @solicitud.codigo %></td>
    </tr>
    <tr>
      <th><%= label :fecha_creacion, Solicitud.human_attribute_name(:fecha_creacion) %></th>
      <td><%= l(@solicitud.fecha_creacion) %></td>
    </tr>
    <tr>
      <th><%= label :institucion_id, Solicitud.human_attribute_name(:institucion_id) %></th>
      <td><%= @solicitud.usuario.nombre_institucion %></td>
    </tr>
    <tr>
      <th><%= label :via_id, Solicitud.human_attribute_name(:via_id) %></th>
      <td><%= @solicitud.via.nombre %></td>
    </tr>   
  </table>
  <hr />

  <h4>Asignado a</h4>
  <div id="solicitud_no_asignada" class="error" style="<%= 'display:none' if @actividades.size > 0 %>">
    La solicitud no ha sido asignada.
  </div>
  <div id="asignaciones">
    <%= render :partial => 'asignaciones' %>
  </div>
  
  <h4>Datos del Solicitante</h4>
  <table>
    <tr>
      <th width="20%"><%= label :solicitud, t("solicitudes.label_solicitante_institucion") %></th>
      <td><%= @solicitud.solicitante_institucion %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_solicitante_nombre") %></th>
      <td><%= @solicitud.solicitante_nombre %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_solicitante_identificacion") %></th>
      <td><%= @solicitud.solicitante_identificacion %></td>
    </tr>    
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_solicitante_telefonos") %></th>
      <td><%= @solicitud.solicitante_telefonos %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_email") %></th>
      <td><%= @solicitud.email %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_solicitante_direccion") %></th>
      <td><%= @solicitud.solicitante_direccion %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_departamento_municipio") %></th>
      <td><%= @solicitud.municipio.nombre_completo unless @solicitud.municipio.nil? %></td>
    </tr>
  </table>
  <hr />
  
  <h4>Información de la solicitud</h4>
  <table>
    <tr>
      <th width="20%"><%= label :solicitud, t("solicitudes.label_estado_id") %></th>
      <td><%= @solicitud.estado.nombre %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_fecha_programada") %></th>
      <td><%= l(@solicitud.fecha_programada) %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_fecha_entregada") %></th>
      <td><%= l(@solicitud.fecha_entregada) unless @solicitud.fecha_entregada.nil? %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_fecha_resolucion") %></th>
      <td><%= l(@solicitud.fecha_resolucion) unless @solicitud.fecha_resolucion.nil? %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_fecha_prorroga") %></th>
      <td><%= l(@solicitud.fecha_prorroga) unless @solicitud.fecha_prorroga.nil? %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_forma_entrega") %></th>
      <td><%= @solicitud.forma_entrega %></td>
    </tr>
    <tr>
      <th><%= label :solicitud, t("solicitudes.label_observaciones") %></th>
      <td><%= @solicitud.observaciones %></td>
    </tr>
  </table>
  <hr />
  
  <h4><%= t("solicitudes.label_textosolicitud") %> </h4>
  <%= @solicitud.texto_solicitud %>
  <hr class="space"/>  

  <h4><%= Resolucion.human_name.pluralize %></h4>
  <div id="resoluciones">
    <%= render :partial => 'resoluciones'  %>
  </div>

  <h4><%= t("activerecord.models.recursosrevision") %></h4>
  <div id="recursosrevision">
    <%= render :partial => 'recursosrevision'  %>
  </div>


  
  <div id="adjuntos">
    <%= render :partial => 'adjuntos' %>
  </div>

</fieldset>
<div id="newactividad" class="popup" style="display: none; height: 440px; text-align:left;"></div>
<div id="newadjunto" class="popup" style="display: none; height: 400px;"></div>
<div id="newresolucion" class="popup" style="display: none; height: 400px;"></div>  
<div id="newrecursorevision" class="popup" style="display: none; height: 400px;"></div>    
