<table id="minimalist-a">
  <thead>
    <th class="col"><%= t("actividades.label_numero") %></th>
    <th class="col"><%= t("actividades.label_usuario_id") %></th>
    <th class="col"><%= t("actividades.label_cargo") %></th>
    <th class="col"><%= t("actividades.label_institucion") %></th>
    <th class="col"><%= t("actividades.label_fecha_asignacion") %></th>
    <th class="col"><%= t("actividades.label_estado") %></th>
  </thead>
  <tbody>
    <% for actividad in @solicitud.actividades do %>
    <tr>
      <td><%= actividad.id %></td>
      <td><%= actividad.usuario.nombre %></td>
      <td><%= actividad.usuario.cargo %></td>
      <td><%= actividad.usuario.institucion.abreviatura %></td>
      <td><%= l(actividad.fecha_asignacion) %></td>
      <td><%= actividad.estado.nombre %></td>   
    </tr>
    <% end %>
  </tbody>    
</table>
<div id="showactividad" class="popup" style="display: none; height: 400px;"></div>

<hr />
