%ul
  %li= link_to "Twitter Guatemala", "http://tinyurl.com/2bdwjmq"
  %li= link_to "Prensa Libre", "http://prensalibre.com"
  %li= link_to "Siglo XXI", "http://sigloxxi.com"
  %li= link_to "El Periodico", "http://elperiodico.com.gt"
  %li= link_to "La hora", "http://lahora.com.gt"