= render :partial => "find_box"
#container
  #wraper
    #content
      #results
        %strong Resultados para busqueda:
        %strong
          = params[:search]
        %br/
        #listing
          = render :partial => "solicitudes_encontradas"
          = render :partial => "documentos_encontrados"
  #navigation
  = render :partial => "news_links" 
/ end - container
