<%= render :partial => "find_box" %>

<div id="container">
  <div id="wraper">
    <div id="content">
      <div id="results">
        Resultados para busqueda: <strong> <%= params[:q] %> </strong><br />
        <div id="listing">

         <%= render :partial => "solicitudes_encontradas" %>


         <%= render :partial => "documentos_encontrados" %>

        </div>
      </div>
    </div>
  </div>
  <div id="navigation">
    <ul>
      <li><%= link_to "Twitter Guatemala", "http://tinyurl.com/2bdwjmq" %></li>
      <li><%= link_to "Prensa Libre", "http://prensalibre.com" %></li>
      <li><%= link_to "Siglo XXI", "http://sigloxxi.com" %></li>
      <li><%= link_to "El Periodico", "http://elperiodico.com.gt" %></li>
      <li><%= link_to "La hora", "http://lahora.com.gt" %></li>
    </ul>
  </div>
</div> <!-- end - container -->

