- content_for :head do
  = javascript_include_tag 'filtro_solicitudes', 'jquery.ui.datepicker-es.js'
.center_box
  #logo
    = link_to image_tag('escudogt.jpg', :width => '256px'), portal_index_url
    %h2 Plataforma Virtual para la Transparencia
  %br/
  #main-search
    - form_tag '/portal/buscar', :name => 'f', :method=>:get do
      %table{:cellpadding => "0", :cellspacing => "0"}
        %tbody
          %tr{:valign => "top"}
            %td{:width => "25%"} &nbsp;
            %td{:align => "center"}
              .ds{:style => "height: 32px; margin: 4px 0"}
                = text_field_tag 'q','', :title=>'Buscar Documentos, Solicitudes de Información, etc.', :size => 57, :style=>"background:#fff;border:1px solid #ccc;border-bottom-color:#999;border-right-color:#999;color:#000;font:18px arial,sans-serif bold;height:25px;margin:0;padding:5px 8px 0 6px;vertical-align:top"
              %br{:style => "line-height:0"}/
              %div{:style => "text-align: center;"}
                = submit_tag "Buscar en OpenWolf"
            %td{:align => "left", :width => "25%"}
              = link_to 'Opciones de Búsqueda', '#', :class => "filtro", :title => "Opciones avanzadas de búsqueda."
              %br/
  / end - main_search
/ end - center_box
#filtro.popup{:style => "display: none; height: 500px; width: 650px;"}
  = render :partial => 'solicitudes/filtro'
