- if !current_page?(:action => 'print')
  = render :partial => "find_box"
  .document-options
    .option
      #{link_to "Imprimir", print_portal_url(@solicitud, :format => 'pdf')}
    #share.option
      = add_this
.view-document
  .content
    .page-pane
      .document
        %h1#title Solicitud de Información Pública
        - unless @informacion_publica
          %h3#info-not-public
            = image_tag('lock24.png')
            Información de esta solicitud bajo reserva por solicitud del solicitante.
        %fieldset
          %legend Solicitud
          #estado_solicitud.notice.span-24.last
            %strong Estado Solicitud:
            %span#estado_solicitud_nombre= @solicitud.estado_actual
          %table
            %tr
              %th{:width => "20%"}= label :codigo, Solicitud.human_attribute_name(:codigo)
              %td{:width => "80%"}= @solicitud.codigo
            %tr
              %th= label :fecha_creacion, Solicitud.human_attribute_name(:fecha_creacion)
              %td= l(@solicitud.fecha_creacion)
            %tr
              %th= label :institucion_id, Solicitud.human_attribute_name(:institucion_id)
              %td= @solicitud.usuario.nombre_institucion
            %tr
              %th= label :via_id, Solicitud.human_attribute_name(:via_id)
              %td= @solicitud.via.nombre
            %tr
              %th= label :forma_entrega, Solicitud.human_attribute_name(:forma_entrega)
              %td= @solicitud.forma_entrega
          %hr/
          %h4 Asignado a
          #solicitud_no_asignada.error{ @actividades.size > 0 ? {:style => "display:none"} : {} }
            La solicitud no ha sido asignada.
          #asignaciones
            = render :partial => 'asignaciones'
          = render :partial => "datos_solicitante" if @mostrar_datos_solicitante
          %h4 Datos Solicitud
          %table
            %tr
              %th{:width => "20%"}= label :solicitud, t("solicitudes.label_estado_id")
              %td= @solicitud.estado.nombre
            %tr
              %th= label :solicitud, t("solicitudes.label_fecha_programada")
              %td= l(@solicitud.fecha_programada)
            %tr
              %th= label :solicitud, t("solicitudes.label_fecha_entregada")
              %td= l(@solicitud.fecha_entregada) unless @solicitud.fecha_entregada.nil?
            %tr
              %th= label :solicitud, t("solicitudes.label_fecha_resolucion")
              %td= l(@solicitud.fecha_resolucion) unless @solicitud.fecha_resolucion.nil?
            %tr
              %th= label :solicitud, t("solicitudes.label_fecha_prorroga")
              %td= l(@solicitud.fecha_prorroga) unless @solicitud.fecha_prorroga.nil?
            %tr
              %th= label :solicitud, t("solicitudes.label_forma_entrega")
              %td= @solicitud.forma_entrega
            %tr
              %th= label :solicitud, t("solicitudes.label_observaciones")
              %td= @solicitud.observaciones
          %hr/
          %h4
            = t("solicitudes.label_textosolicitud")
          = @solicitud.texto_solicitud(usuario_actual)
          %hr.space/
          %h4= "Seguimientos de enlances"
          #seguimientos
            = render :partial => 'seguimientos' if @informacion_publica
          %h4= Resolucion.human_name.pluralize
          #resoluciones
            = render :partial => 'resoluciones' if @informacion_publica
          %h4= t("activerecord.models.recursosrevision")
          #recursosrevision
            = render :partial => 'solicitudes/recursosrevision' if @informacion_publica
          %h4= t("activerecord.models.nota")
          #notasseguimiento
            = render :partial => 'solicitudes/notas_seguimiento' if @informacion_publica
          #adjuntos
            = render :partial => 'adjuntos' if @informacion_publica
