%h1 Editing motivoprorroga
- form_for(@motivoprorroga) do |f|
  = f.error_messages
  %p
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %p
    = f.submit 'Update'
= link_to 'Show', @motivoprorroga
|
\#{link_to 'Back', motivosprorroga_path}
