<h1>Editing motivoprorroga</h1>

<% form_for(@motivoprorroga) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @motivoprorroga %> |
<%= link_to 'Back', motivosprorroga_path %>