<h1>Listing motivosprorroga</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @motivosprorroga.each do |motivoprorroga| %>
  <tr>
    <td><%=h motivoprorroga.nombre %></td>
    <td><%= link_to 'Show', motivoprorroga %></td>
    <td><%= link_to 'Edit', edit_motivoprorroga_path(motivoprorroga) %></td>
    <td><%= link_to 'Destroy', motivoprorroga, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New motivoprorroga', new_motivoprorroga_path %>