- content_for :head do
  = javascript_include_tag 'jquery-blockui.js', 'portal'
= render :partial => 'portal/find_box'
.mantform
  %h2
    Nueva Solicitud de Información Pública
  = render :partial => "advertencia_horario_de_atencion" if false
  - semantic_form_for @solicitud, :url => solicitud_informacion_url do |form|
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(solicitudes_path)
