- content_for :head do
  = javascript_include_tag 'jquery-blockui.js', 'portal.js'

.row
  .span12
    = render :partial => 'portal/find_box'

-# - if @solicitud.errors.any?
-#   .row
-#     .span6.offset3
-#       .error
-#         %ul
-#         - @solicitud.errors.full_messages.each do |msg|
-#           %li= msg
.row
  .span12
    .documento.rounded-shadow-box.glow-border
      %h2.center
        Nueva Solicitud de Información Pública
      = simple_form_for @solicitud, :url => solicitud_informacion_url, :html => { :class => "form-horizontal" }  do |form|
        = render :partial => 'form', :locals => {:form => form}
        .form-actions
          = form.button :submit, :class => "btn btn-primary btn-large"