.listing
  %h2= Documento.human_name.pluralize
  #options
    = button_new(new_documento_path)
    = render :partial => 'shared/findbox', :locals => {:url => documentos_path}
  %table.minimalist-b
    %thead
      %tr
        %th= Documento.human_attribute_name(:numero)
        %th= Documento.human_attribute_name(:fecha_documento)
        %th= Documento.human_attribute_name(:documentoclasificacion_id)
        %th= Documento.human_attribute_name(:asunto)
        %th= Documento.human_attribute_name(:estado_envio_id)
        %th= Documento.human_attribute_name(:archivo)
        %th= "Original"
    %tbody
      - for documento in @documentos  do
        %tr{:class => "#{ documento.archivado? ? '' : 'error'}" }
          %td
            = link_to documento.numero, documento_path(documento)
          %td= l(documento.fecha_recepcion)
          %td= documento.clasificacion_nombre
          %td= documento.asunto
          %td= documento.estado_nombre
          %td= documento.archivo_nombre
          %td= si_no(documento.original)
  = will_paginate @documentos
