- content_for :head do
  = javascript_include_tag 'combobox.js', 'documentos.js', 'jquery.ui.datepicker-es.js'
.show
  %h2= Documento.human_name
  #options
    = button_new(new_documento_path)
    = button_edit(edit_documento_path(@documento))
    = button_delete(documento_path(@documento))
    = button_cancel(documentos_path)
    = button_export(plantilla_documento_path(@documento))
    = documento_boton_archivar(@documento, @hay_archivos)
    = documento_boton_trasladar(@documento, @hay_archivos)
    %br/
  .box
    %table
      %colgroup.show-table-header
      %colgroup.show-table-data
      %tr{:class => "#{@documento.archivado? ? 'success' : 'error' }"}
        %th= label :archivo_id, Documento.human_attribute_name(:archivo_id)
        %td= @documento.archivo_nombre
      %tr
        %th= label :institucion_id, Documento.human_attribute_name(:institucion_id)
        %td= @documento.institucion.nombre
      %tr
        %th= label :numero, Documento.human_attribute_name(:numero)
        %td= @documento.numero
      %tr
        %th= label :original, Documento.human_attribute_name(:original)
        %td= si_no(@documento.original)
      %tr
        %th= label :origen_id, Documento.human_attribute_name(:origen_id)
        %td= @documento.origen_nombre
      %tr
        %th= label :documentoclasificacion_id, Documento.human_attribute_name(:documentoclasificacion_id)
        %td= @documento.clasificacion_nombre
      %tr
        %th= label :documentocategoria, Documento.human_attribute_name(:documentocategoria)
        %td= @documento.categoria_nombre
      %tr
        %th= label :fecha_documento, Documento.human_attribute_name(:fecha_documento)
        %td= l(@documento.fecha_documento)
      %tr
        %th= label :autor_id, Documento.human_attribute_name(:autor_id)
        %td= @documento.autor_datos
      %tr
        %th= label :asunto, Documento.human_attribute_name(:asunto)
        %td= @documento.asunto
      %tr
        %th= label :fecha_recepcion, Documento.human_attribute_name(:fecha_recepcion)
        %td= l(@documento.fecha_recepcion)
      %tr
        %th= label :remitente_nombre, Documento.human_attribute_name(:remitente_nombre)
        %td= @documento.remitente_nombre
      %tr
        %th= label :remitente_direccion, Documento.human_attribute_name(:remitente_direccion)
        %td= @documento.remitente_direccion
      %tr
        %th= label :remitente_telefonos, Documento.human_attribute_name(:remitente_telefonos)
        %td= @documento.remitente_telefonos
      %tr
        %th= label :remitente_email, Documento.human_attribute_name(:remitente_email)
        %td= @documento.remitente_email
      %tr
        %th= label :estado_envio_id, Documento.human_attribute_name(:estado_envio_id)
        %td= @documento.estado_nombre
      %tr
        %th= label :texto, Documento.human_attribute_name(:texto)
        %td= raw(@documento.texto)

%div{:id => "archivar-dialog"}
%div{:id => "trasladar-dialog"}