<div id="breadcrumbs">
  <ul id="crumbs">
    <li> <%= link_to t("breadcrums.homepage"), main_index_path %></li>
    <li> <%= link_to Via.human_name.pluralize, vias_path %></li>
    <% if @forview %>
      <% if @forview == "NEW" %>
        <li><%= t("data.title_new") %></li>
      <% elsif @forview == "EDIT" %>
        <li><%= t("data.title_edit") %></li>
      <% else %>
        <li><%= t("data.title_show") %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="clear">&nbsp;</div>
