<% @forview = "EDIT" %>
<%= render :partial => "breadcrums" %>
<div class="mantform">
  <h2>Editar <%= Via.human_name %></h2>
  
  <% semantic_form_for @via do |form| %>
    <%= form.semantic_errors %>
    <%= render :partial => 'form', :locals => {:form => form} %>     
    <%= buttons_update(vias_path) %>
  <% end %>
  
</div>

