<%= render :partial => "breadcrums" %>

<div class="listing">
  <h2><%= Via.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_via_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => vias_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Via.human_attribute_name(:nombre) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for via in @vias  do%>
        <tr>
          <td>
	    <%= link_to via.nombre, via_path(via) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @vias %>
  
</div>
