- form.inputs do
  = form.input :numero, :input_html => {:size => 60}
  = form.input :tiporesolucion, :include_blank => false
  = form.input :razontiporesolucion, :as => :select, :collection => @razones, :include_blank => false
  = form.input :nueva_fecha, :as => :string, :input_html => {:size => 20}
  = form.input :descripcion