- content_for :head do
  = javascript_include_tag 'resoluciones.js'

- @forview = "EDIT"
= render :partial => "breadcrumbs"

%h1.alt= Resolucion.human_name.pluralize

= render :partial => "solicitudes/solicitud"

.mantform
  %h2
    Editar 
    = Resolucion.human_name

  - semantic_form_for [@solicitud,@resolucion] do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(solicitud_resoluciones_path(@solicitud))