<h1>Listing resoluciones</h1>

<table>
  <tr>
    <th>Numero</th>
    <th>Solicitud</th>
    <th>Usuario</th>
    <th>Institucion</th>
    <th>Descripcion</th>
    <th>Tiporesolucion</th>
    <th>Razonresolucion</th>
    <th>Nueva fecha</th>
  </tr>

<% @resoluciones.each do |resolucion| %>
  <tr>
    <td><%=h resolucion.numero %></td>
    <td><%=h resolucion.solicitud_id %></td>
    <td><%=h resolucion.usuario_id %></td>
    <td><%=h resolucion.institucion_id %></td>
    <td><%=h resolucion.descripcion %></td>
    <td><%=h resolucion.tiporesolucion_id %></td>
    <td><%=h resolucion.razonresolucion_id %></td>
    <td><%=h resolucion.nueva_fecha %></td>
    <td><%= link_to 'Show', resolucion %></td>
    <td><%= link_to 'Edit', edit_resolucion_path(resolucion) %></td>
    <td><%= link_to 'Destroy', resolucion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resolucion', new_resolucion_path %>