<p>
  <b>Numero:</b>
  <%=h @resolucion.numero %>
</p>

<p>
  <b>Solicitud:</b>
  <%=h @resolucion.solicitud_id %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @resolucion.usuario_id %>
</p>

<p>
  <b>Institucion:</b>
  <%=h @resolucion.institucion_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @resolucion.descripcion %>
</p>

<p>
  <b>Tiporesolucion:</b>
  <%=h @resolucion.tiporesolucion_id %>
</p>

<p>
  <b>Razonresolucion:</b>
  <%=h @resolucion.razonresolucion_id %>
</p>

<p>
  <b>Nueva fecha:</b>
  <%=h @resolucion.nueva_fecha %>
</p>


<%= link_to 'Edit', edit_resolucion_path(@resolucion) %> |
<%= link_to 'Back', resoluciones_path %>