<div id="options">
  <div id="modules-menu" class="hlist">
    <ul>
      <li><b>Opciones:</b></li>
      <li><%= link_to "Portal Ciudadano", portal_index_url %></li>  
    </ul>        
  </div>
</div>

<div id="loginlogo"></div>


<div id="logintable">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %> 
  <%= devise_error_messages! %>
    <div id="usuario">
      <img src="../images/iconusuario.gif" alt="iconusuario" width="35" height="35" class="iconoslogin" />
      <%= f.text_field :login, :class => "textfieldlogin", :title => 'Nombre de Usuario' %>
    </div>
    <div id="password"><img src="../images/iconpass.gif" alt="iconusuario" width="40" height="40" class="iconoslogin" />
      <%= f.password_field :password, :class => "textfieldlogin", :title => 'Contraseña' %>
    </div>   
    <div id="ingreso">
      <button type="submit" class="submitlogin" title="Ingresar" onfocus="this.blur();"></button></div>
  <% end %>
</div>
<div class="version">
  OpenWolf Ver. 1.0 Plataforma para la Transparencia
</div>
<div class="logotipos"></div>
