<% @forview = "EDIT" %>
<%= render :partial => "breadcrums" %>
<h1 class="alt"> <%= t("puestos.title") %></h1>
<fieldset>
  <legend><%= image_tag('edit22.png') %> <%= t("puestos.title_edit") %></legend>
  <%= error_messages_for :puesto %>
  <% form_for @puesto, :html=>{:class=>"mantform"} do |f| %>
  <%= render :partial=>'form', :locals=>{:f => f, :submittext => t("data.submit_edit")} %>
  <% end %>
</fieldset>
