<%= render :partial => "breadcrums" %>

<h1 class="alt"> <%= t("puestos.title") %></h1>
<fieldset>
  <legend><%= image_tag("textfile22.png") %> <%= t("puestos.title") %> </legend>

  <%= image_tag('add16.png') %><%= link_to(t("data.new"), new_puesto_path, {:title=>t("data.linktitle_new")}) %>
  <table id="minimalist-a">
   <thead>
      <tr>
        <th><%= t("puestos.label_nombre") %></th>
        <th><%= t("puestos.label_institucion_id") %></th>
        <th width="10%">&nbsp;</th>
        <th width="10%">&nbsp;</th>
      </tr>
    </thead> 
    <tbody>
    <% for puesto in @puestos  do%>
    <tr>
      <td>
	<%= link_to puesto.nombre, puesto_path(puesto) %>
      </td>
      <td>
        <%= puesto.institucion.nombre %>
      </td>
    </tr>
    <% end %>
   </tbody>
  </table>

  <hr />
  
  <%= will_paginate @puestos %>

</fieldset>
