<%= render :partial => "breadcrums" %>
<h1 class="alt"><%= image_tag("mail32.png") %> <%= t("mensajes.title") %></h1>
<fieldset>
  <legend> <%= image_tag('textfile22.png') %> <%= t("mensajes.title") %> </legend>

  <%= image_tag('add16.png') %><%= link_to(t("data.new"), new_institucion_mensaje_path(@institucion), {:title=>t("data.linktitle_new")}) %>
  <table id="minimalist-a">
   <thead>
      <tr>
        <th><%= t("mensajes.label_numero") %></th>
        <th><%= t("mensajes.label_fecha_recepcion") %></th>
        <th><%= t("mensajes.label_tipomensaje_id") %></th>
        <th><%= t("mensajes.label_remitente") %></th>
        <th><%= t("mensajes.label_fuente_id") %></th>
        <th width="10%">&nbsp;</th>
        <th width="10%">&nbsp;</th>
      </tr>
    </thead> 
    <tbody>
    <% for mensaje in @mensajes  do%>
    <tr>
      <td>
	<%= link_to mensaje.numero, institucion_mensaje_path(@institucion,mensaje) %>
      </td>
      <td><%= mensaje.fecha_recepcion %> </td>
      <td><%= mensaje.tipomensaje.nombre %></td>
      <td><%= mensaje.remitente %></td>
      <td><%= mensaje.fuente.nombre %></td>
    </tr>
    <% end %>
   </tbody>
  </table>

</fieldset>
