<% @forview = "SHOW" %>
<%= render :partial=>"breadcrums" %>
<h1 class="alt"> <%= t("mensajes.title") %></h1>
<fieldset>
  <legend><%= image_tag("infoabout22.png") %> <%= t("mensajes.title_show") %> </legend>

  <div class="options">    
    <strong><%= t("data.label_options") %> </strong> | 
    <%= image_tag('edit16.png') %><%= link_to( t("data.edit"), edit_institucion_mensaje_path(@institucion,@mensaje) ) %> | 
    <%= image_tag('delete16.png') %><%= link_to t("data.delete"), @mensaje, :confirm => t("data.rusure"), :method => :delete %> |
    <%= image_tag('add16.png') %><%= link_to t("data.new"), new_institucion_mensaje_path(@institucion) %> |
    <%= image_tag('undo16.png') %><%= link_to( t("data.cancel"), institucion_mensajes_path(@institucion) )%>
  </div>
  <hr />
  <table>
    <tr>
      <th width="20%"><%= label :mensaje, t("mensajes.label_numero") %></th>
      <td width="80%"><%= @mensaje.numero %></td>
    </tr>
    <tr>
      <td><%= label :tipomensaje_id, t('mensajes.label_tipomensaje_id') %> </td>
      <td><%= @mensaje.tipomensaje.nombre %></td>
    </tr>
    <tr>
      <td><%= label :fecha_recepcion, t('mensajes.label_fecha_recepcion') %> </td>
      <td><%= @mensaje.fecha_recepcion %></td>
    </tr>
    <tr>
      <td><%= label :fuente_id, t('mensajes.label_fuente_id') %> </td>
      <td><%= @mensaje.fuente.nombre %></td>
    </tr>
    <tr>
      <td><%= label :direccion, t('mensajes.label_direccion') %> </td>
      <td><%= @mensaje.direccion %></td>
    </tr>
    <tr>
      <td><%= label :telefonos, t('mensajes.label_telefonos') %> </td>
      <td><%= @mensaje.telefonos %></td>
    </tr>
    <tr>
      <td><%= label :remitente, t('mensajes.label_remitente') %> </td>
      <td><%= @mensaje.remitente %></td>
    </tr>
    <tr>
      <td><%= label :asunto, t('mensajes.label_asunto') %> </td>
      <td><%= @mensaje.asunto %></td>
    </tr>
    <tr>
      <td><%= label :fecha_documento, t('mensajes.label_fecha_documento') %> </td>
      <td><%= @mensaje.fecha_documento %></td>
    </tr>
    <tr>
      <td><%= label :observaciones, t('mensajes.label_observaciones') %> </td>
      <td><%= @mensaje.observaciones %></td>
    </tr>
  </table>
</fieldset>
