- form.inputs do
  = form.input :email, :input_html => {:size => 60}
  = form.input :username, :required => true, :input_html => {:size => 60}
  = form.input :password
  = form.input :password_confirmation
  = form.input :activo, :hint => "Usuario esta activo."  
  = form.input :nombre, :input_html => {:size => 60}
  = form.input :cargo, :input_html => {:size => 60}
  - if @usuario_es_superadmin
    = form.input :institucion, :include_blank => false, :input_html => {:disabled => @disabled, :class => 'combobox', :style => "width: 450px;"}   
  - if @usuario_es_admin
    %hr/
    %h4 Roles de Seguridad
    - if @usuario_es_superadmin
      = form.input :roles, :as => :check_boxes, :collection => Role.all
    - else
      = form.input :roles, :as => :check_boxes, :collection => Role.basicos
