- content_for :head do
  = javascript_include_tag 'combobox.js', 'usuarios.js'
- @forview = "EDIT"
= render :partial => "breadcrums"
.mantform
  %h2
    Editar #{Usuario.human_name}
  - semantic_form_for @usuario do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    - if action_name == 'perfil'
      = buttons_update(main_path)
    - else
      = buttons_update(usuarios_path)