- @forview = "SHOW"
= render :partial=>"breadcrums"

- if @usuario.errors.any?
  .error
    %ul
    - @usuario.errors.full_messages.each do |msg|
      %li= msg

.show
  %h2= Usuario.human_name
  #options
    = button_new(new_usuario_path)
    = button_edit(edit_usuario_path(@usuario))
    = button_delete(usuario_path(@usuario))
    = button_cancel(usuarios_path)
    %br/
  .box
    %table
      %colgroup.show-table-header
      %colgroup.show-table-data
      %tr
        %th= label :nombre, Usuario.human_attribute_name(:nombre)
        %td= @usuario.nombre
      %tr
        %th= label :username, Usuario.human_attribute_name(:username)
        %td= @usuario.username
      %tr
        %th= label :email, Usuario.human_attribute_name(:email)
        %td= @usuario.email
      %tr
        %th= label :institucion_id, Usuario.human_attribute_name(:institucion_id)
        %td= @usuario.institucion.nombre
      %tr
        %th= label :cargo, Usuario.human_attribute_name(:cargo)
        %td= @usuario.cargo
