<div class="listing">
  <h2><%= Fuente.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_fuente_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => fuentes_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Fuente.human_attribute_name(:nombre) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for fuente in @fuentes  do%>
        <tr>
          <td>
	    <%= link_to fuente.nombre, fuente_path(fuente) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @fuentes %>
  
</div>
