<div class="show">
  <h2><%= Fuente.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_fuente_path) %>
    <%= button_edit(edit_fuente_path(@fuente)) %>
    <%= button_delete(fuente_path(@fuente)) %>
    <%= button_cancel(fuentes_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Fuente.human_attribute_name(:nombre) %></th>
        <td><%= @fuente.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
