<div class="show">
  <h2><%= Documentoclasificacion.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_documentoclasificacion_path) %>
    <%= button_edit(edit_documentoclasificacion_path(@documentoclasificacion)) %>
    <%= button_delete(documentoclasificacion_path(@documentoclasificacion)) %>
    <%= button_cancel(documentoclasificaciones_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Documentoclasificacion.human_attribute_name(:nombre) %></th>
        <td><%= @documentoclasificacion.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
