<fieldset>
  <legend> <%= image_tag('textfile22.png') %><%= Solicitud.human_name %></legend>
    <table>
    <tr>
      <th width="20%"><%= label :codigo, Solicitud.human_attribute_name(:codigo) %></th>
      <td width="80%"><%= link_to @solicitud.codigo, solicitud_path(@solicitud) %></td>
    </tr>
    <tr>
      <th><%= label :institucion_id, Solicitud.human_attribute_name(:institucion_id) %></th>
      <td><%= @solicitud.institucion.nombre %></td>
    </tr>
    <tr>
      <th><%= label :enlaces, Solicitud.human_attribute_name(:enlaces) %></th>
      <td><%= @solicitud.nombres_enlaces %></td>
    </tr>
  </table>
</fieldset>
