<% @forview = "SHOW" %>
<%= render :partial=>"breadcrumbs" %>

<%= render :partial => 'solicitud'  %>

<div class="show">
  <h2><%= Nota.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_solicitud_nota_path(@solicitud)) %>
    <%= button_edit(edit_solicitud_nota_path(@solicitud,@nota)) %>
    <%= button_delete(solicitud_nota_path(@solicitud, @nota)) %>
    <%= button_cancel(solicitud_notas_path(@solicitud)) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :texto, Nota.human_attribute_name(:texto) %></th>
        <td><%= @nota.texto %></td>
      </tr>
    </table>     
  </div>
  
</div>
