%h4 Seguimiento
- hay_seguimientos = (actividad.seguimientos.count != 0)
- unless hay_seguimientos
  .error
    No se ha dado seguimiento a esta asignacion.
= actividad_boton_agregar_seguimiento(actividad)                                                                                 
- if hay_seguimientos
  = link_to image_tag("accept16.png")+' Marcar Asignacion como COMPLETADA.', marcar_como_completada_actividad_path(actividad.id), :method => :put, :title=>'Marca Asignacion como Completa', :class => 'button', :confirm => "¿Está seguro de marcar la asignación como COMPLETADA?"
%table#minimalist-b
  %thead
    %th.col{:width => "10%"} &nbsp;
    %th.col{:width => "10%"} &nbsp;
    %th.col{:width => "15%"}= t("seguimientos.label_fecha_creacion")
    %th.col= t("seguimientos.label_textoseguimiento")
  %tbody= render :partial => actividad.seguimientos