<% for actividad in @asignaciones do 
  solicitud = actividad.solicitud %>

  <fieldset>
  <% div_for actividad do %>
    <h2 class="alt" >Asignacion No. <%= actividad.id %></h2>
    <table>
      <tr>
        <th width="20%"><%= label_tag t("solicitudes.label_codigo") %></th>
        <td><%= link_to solicitud.codigo, institucion_solicitud_path(solicitud.institucion_id, solicitud) %></td>        
      </tr>
      <tr>
        <th><%= label_tag t("solicitudes.label_fecha_creacion") %></th>
        <td><%= l(solicitud.fecha_creacion) %></td>
      </tr>
      <tr>
        <th><%= label_tag t("solicitudes.label_estado_id") %></th>
        <td> <%= solicitud.estado.nombre %></td>
      </tr>
      <tr>
        <th><%= label_tag t("solicitudes.label_dias_restantes") %> </th>
        <td><%= solicitud.dias_restantes %></td>
      </tr>
    </table>
     
    <%= label_tag t("solicitudes.label_forma_entrega") %><br />
    <%= solicitud.forma_entrega %><br />
    <%= label_tag t("actividades.label_textoactividad") %><br />
    <%= actividad.textoactividad %><br />
  <% end %>

  <hr class="space"/>  

  <div id='<%= "seguimientos_actividad_#{actividad.id}" %>'>
    <%= render :partial => 'actividades/actividad_seguimientos', :locals => {:actividad => actividad} %>
  </div>

  <!-- <hr class="space" />     -->
  <!-- <hr /> -->

  </fieldset>
<% end %>


