%h3.alt
  = t("actividades.title")
%fieldset
  %legend
    = image_tag('edit22.png')
    = t("actividades.title_edit")
  = error_messages_for :actividad
  - form_for [@institucion, @solicitud, @actividad], :html=>{:class=>"mantform"} do |f|
    = render :partial=>'form', :locals=>{:f => f, :submittext => t("data.submit_edit")}
