<fieldset>
  <legend><h2 class="alt"><%= image_tag("infoabout22.png") %>Asignacion</h2></legend>
  <table>
    <tr>
      <th width="20%"><%= label :actividad, t("actividades.label_numero") %></th>
      <td><%= @actividad.id %></td>
    </tr>
    <tr>
      <th><%= label :actividad, t("actividades.label_fecha_asignacion") %></th>
      <td><%= @actividad.fecha_asignacion %></td>
    </tr>
    <tr>
      <th><%= label :actividad, t("actividades.label_estado") %></th>
      <td><%= @actividad.estado.nombre %></td>
    </tr>
    <tr>
      <th><%= label :actividad, t("actividades.label_fecha_resolucion") %></th>
      <td><%= @actividad.fecha_resolucion %></td>
    </tr>
    <tr>
      <th><%= label :actividad, t("actividades.label_textoactividad") %></th>
      <td><%= @actividad.textoactividad %></td>
    </tr>
  </table>

  <table class="minimalist-a">
    <thead>
      <tr>
        <th width="20%"><%= Seguimiento.human_attribute_name(:fecha_creacion) %></th>
        <th><%= Seguimiento.human_attribute_name(:texto_seguimiento) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for seguimiento in @actividad.seguimientos  do%>
        <tr>
          <td>
	    <%= seguimiento.fecha_creacion %>
          </td>
          <td><%= seguimiento.textoseguimiento %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br />
  <%= close_popup('showactividad') %>
</fieldset>
