%p
  %b Institucion:
  = h @actividad.institucion_id
%p
  %b Usuario:
  = h @actividad.usuario_id
%p
  %b Fecha asignacion:
  = h l(@actividad.fecha_asignacion)
%p
  %b Textoactividad:
  = h @actividad.textoactividad
%p
  %b Estado:
  = h @actividad.estado_id
%p
  %b Fecha resolucion:
  = h l(@actividad.fecha_resolucion)
= link_to 'Edit', edit_actividad_path(@actividad)
|
\#{link_to 'Back', actividades_path}
