= render :partial => "portal/find_box"
#container
  #wraper
    #content
      %h2= "Estadísticas - #{@institucion.nombre}"
      #results.estadisticas

        %br/
        #generales
          %h3= "Solicitudes de información pública recibidas año #{Date.today.year}"
          %table.minimalist-b{:width => "100%"}
            %colgroup.show-table-header
            %colgroup.show-table-data
            %tr
              %th= 'Total de Solicitudes'
              %td= @institucion.total_solicitudes
            %tr
              %th= 'Promedio dias respuesta'
              %td= @institucion.tiempo_respuesta_promedio
        #por-estado
          %h3= "Solicitudes por Estado recibidas año #{Date.today.year}"
          %table.minimalist-b{:width => "100%"}
            %colgroup.show-table-header
            %colgroup.show-table-data
            - for estado in @institucion.solicitudes_por_estado
              %tr
                %th= estado.nombre
                %td= estado.total_solicitudes

        #por-ano
          %h3 Solicitudes completadas por Año

          - solicitudes = @institucion.solicitudes_por_ano
          = image_tag( estadisticas_solicitudes_completadas_por_ano(solicitudes) )

          %table.minimalist-b{:width => "100%"}
            %colgroup.show-table-data
            %colgroup.show-table-data
            %colgroup.show-table-data
              %tr
                %th= "Año"
                %th= "Solicitudes"
                %th= "Promedio dias respuesta"
            - for solicitud in solicitudes
              %tr
                %td= solicitud.ano
                %td= solicitud.total_solicitudes
                %td= solicitud.promedio_dias_respuesta.to_f.round()

        #por-mes-ano
          %h3 Solicitudes completadas por Mes y Año

          - solicitudes = @institucion.solicitudes_por_mes_ano
          = image_tag( estadisticas_solicitudes_completadas_por_mes_ano(solicitudes) )

          %table.minimalist-b{:width => "100%"}
            %colgroup.show-table-data
            %colgroup.show-table-data
            %colgroup.show-table-data
              %tr
                %th= "Año / Mes"
                %th= "Solicitudes"
                %th= "Promedio dias respuesta"
            - for solicitud in solicitudes
              %tr
                %td= "#{solicitud.mes} / #{solicitud.ano}"
                %td= solicitud.total_solicitudes
                %td= solicitud.promedio_dias_respuesta.to_f.round()
        #por-genero
          %h3 Solicitudes recibidas por Genero y Año
          %table.minimalist-b{:width => "50%"}
            %colgroup.show-table-data
            %colgroup.show-table-data
            %colgroup.show-table-data
              %tr
                %th= "Año"
                %th= "Genero"
                %th= "Solicitudes"
            - for solicitud in @institucion.solicitudes_por_genero_ano
              %tr
                %td= "#{solicitud.ano}"
                %td= ( solicitud.genero_id.nil? ? "No Disponible" : (solicitud.genero_id == 1 ? 'Masculino' : 'Femenino') )
                %td= solicitud.total_solicitudes

  #navigation
  = render :partial => "portal/news_links"
