<div class="listing">
  <h2><%= Documentocategoria.human_name.pluralize %></h2>
  
  <div id="options">
    <%= button_new(new_documentocategoria_path) %>
    <%= render :partial => 'shared/findbox', :locals => {:url => documentocategorias_path} %>
  </div>
  
  <table class="minimalist-b">
    <thead>
      <tr>
        <th><%= Documentocategoria.human_attribute_name(:nombre) %></th>
      </tr>
    </thead> 
    <tbody>
      <% for documentocategoria in @documentocategorias  do%>
        <tr>
          <td>
	    <%= link_to documentocategoria.nombre, documentocategoria_path(documentocategoria) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @documentocategorias %>
  
</div>
