<div class="show">
  <h2><%= Documentocategoria.human_name %></h2>
  
  <div id="options">
    <%= button_new(new_documentocategoria_path) %>
    <%= button_edit(edit_documentocategoria_path(@documentocategoria)) %>
    <%= button_delete(documentocategoria_path(@documentocategoria)) %>
    <%= button_cancel(documentocategorias_path) %>
    <br />
  </div>
  
  <div class="box">
    <table>
      <colgroup class="show-table-header"></colgroup>
      <colgroup class="show-table-data"></colgroup>
      <tr>
        <th><%= label :nombre, Documentocategoria.human_attribute_name(:nombre) %></th>
        <td><%= @documentocategoria.nombre %></td>
      </tr>
    </table>     
  </div>
  
</div>
