<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Buen día <b><%= @solicitud.solicitante_nombre %></b>:<br />

    Por este medio se le informa que se ha emitido una nueva resolución sobre su solicitud de información pública número <%= @solicitud.codigo %>: <br />

    <h2>Resolucion número <%= @resolucion.numero %></h2>

    <b>Institución:</b> <%= @solicitud.institucion.nombre %> <br />
    <b>Número Solicitud:</b> <%= @solicitud.codigo  %> ( <%= @url_solicitud %> ) <br />
    <b>Fecha emisión resolución:</b> <%= l(@resolucion.created_at.to_date) %> <br />
    <b>Tipo de Resolución</b> <%= @resolucion.tiporesolucion.nombre %> <br />
    <b>Razón Resolución</b> <%= @resolucion.razontiporesolucion.nombre %> <br />

    <h3>Texto Resolución</h3>
    <p>
      <%=h @resolucion.descripcion %>
    </p>
  </body>
</html>



