!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      OpenWolf 0.1 - #{controller.controller_name}: #{controller.action_name}
    = stylesheet_link_tag 'login.css', :media=>'all'
    = javascript_include_tag :defaults
  %body
    = yield
    %iframe#upload_frame{:name => "upload_frame", :src => "about:blank", :style => "width:1px;height:1px;border:0px"}
