<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />

    <title>OpenWolf 0.1 - <%= @page_title || "Plataforma Virtual para la Transparencia" %></title>

    <%= formtastic_stylesheet_link_tag %>
    <%= stylesheet_link_tag 'reset.css', 'tablas.css', 'buttons.css', 'formtastic_changes.css', 'redmond/jquery-ui-1.8.4.custom.css','portal.css' %>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin' rel='stylesheet' type='text/css'>
      
      <%= javascript_include_tag :defaults %>
      
      <%= yield :head %>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19786792-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </head>
    <body>
      <div id="options">
        <div id="modules-menu" class="hlist">
          <ul>
            <li><b>Opciones:</b></li>
            <li><%= link_to "Portal Estatal", main_index_url, :title => "Portal Administrativo" %></li>
            <li><%= link_to "Busqueda", portal_index_url, :title => "Buscar documentos" %></li>
            <li><%= link_to "Solicitudes", new_solicitud_informacion_url, :title => "Generar una nueva solicitud de informacion." %></li>
            <li><%= link_to "Otros Idiomas", "#" %></li>
            <li><%= link_to "Ayuda", "http://docs.openwolf.org", :title => "Documentación OpenWolf" %></li>
          </ul>        
        </div>
        <div id="account-menu" class="hlist">
          <ul>      
            <% unless usuario_actual.nil? %>
              <li><b><%= usuario_actual.nombre_institucion %> | </b></li>
            <% end %>
            <li><%= link_to 'Configuracion', '#' %></li>

            <% if usuario_signed_in? %>
              <li><%= link_to 'Cerrar Sesion', logout_path %></li>
            <% else %>
              <li><%= link_to 'Iniciar Sesion', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= yield %>
      <div id="footer">
        ©2010 Open Wolf - Plataforma virtual para la transparencia <br /> <br />
        <%= link_to "Blog", "http://openwolf.org/blog" %> |
        <%= link_to "Acerca del Proyecto", "http://openwolf.org/sobre-openwolf-libre-acceso-informacion-guatemala/" %> |
        <%= link_to "Preguntas Frecuentes", "#" %> |
        <%= link_to "Licenciamiento", "http://openwolf.org/gplv3/" %> |
        <%= link_to "Portal Estatal", main_index_url %>
      </div>
      div
      <div id="poweredby" style="text-align: center; margin-top: 20px; width: 100%; float: left;" >
        <%= link_to image_tag('logopenwolf.png',:alt => 'Powered by OpenWolf v0.1a',:width=>'100px'), 'http://openwolf.org', :title => "Powered by OpenWolf" %>
      </div>

      <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>   
    </body>
  </html>
